a.active{
    background-color: #AF0F1C;
    color: white;
}

.navbar-nav .nav-item .nav-link{
    font-size: 18px;
    padding: 30px 90px ;
}

.navbar-nav .nav-item{
    margin-right: 15px;

}

image.newsletter-img{
    object-fit: cover;
}

.newsletter-header{
    height: 237px;
    width: 100%;
    background-image:url(assets/d5df2281ebee9937bd5856daab91d3a9.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.newsletter-textbox{
    display: inline-block;
    height: 138px;
    width: inherit;
    margin-top: 50px;
    background: rgba(217, 217, 217, 0.7);
}

.newsletter-text{
    color: #AF0F1C;
    padding-top: 20px;
    padding-left: 30px;
    font-size: 75px;
    font-weight: 300;
}

.newsletter-search{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #AF0F1C;
}

.searchDropDown{
    /*padding-top: 50px;*/
    padding-left: 20px;
}

button.searchDropDown{
    background-color: #7E0B14;
    border-style: none;
}

ul.searchDropDown{
    background-color: #7E0B14;
}

.searchBarBtn{
    backface-visibility: visible;
    border-style: solid;
    border-color: white;
    border: 2px;
    color: white;
}

.searchBar{
    background-color: #7E0B14;
}

.breakRow{
    background-color: black;
}

.featuredArt{
    border-style: solid;
    /*border-radius: 25px;*/
    border-color: black;
}

.article{
    padding-top: 35px;
    padding-top: 35px;
}

.artLink{
    color: black;
}

.artLink:hover{
    color: grey;
}


